@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.multiSelectLinkPanel_container {
  font-family: $ricos-settings-font-family;
  color: var(--ricos-settings-text-color, #000);
  position: relative;
  width: 502px;
  min-width: 360px;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  padding: 20px;
}
.multiSelectLinkPanel_container_mobile {
  font-family: $ricos-settings-font-family;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100vh;
}

.multiSelectLinkPanel_content {
  display: flex;
  height: 279px;
}

.multiSelectLinkPanel_content_mobile {
  display: flex;
  padding: 0 18px;
  height: calc(100% - 217px);
}

.multiSelectLinkPanel_LinkPanelContainer {
  width: 100%;
  margin: 14px 0 0 20px;
}

.multiSelectLinkPanel_LinkPanelContainer_mobile {
  width: 100%;
  margin: 8px 0 0 0;
}

.multiSelectLinkPanel_actionsDivider {
  margin: 0 -19px;
  border-bottom: 1px solid var(--ricos-settings-dividers-color, rgba(51, 51, 51, 0.1));
  &.multiSelectLinkPanel_actionsDivider_mobile {
    margin: 0;
  }
}

.linkPanel_VerticalDivider {
  margin: 0 0 0 20px;
  height: auto;
  border-right: 1px solid var(--ricos-settings-dividers-color, rgba(51, 51, 51, 0.1));
}

.multiSelectLinkPanel_header {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 2px;
  margin-bottom: 16px;
}

.multiSelectLinkPanel_radioButtons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;

  label {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 14px;
    width: max-content;
    display: inline-flex;
    align-items: center;
  }

  span {
    vertical-align: text-bottom;
  }
}

.multiSelectLinkPanel_tabsWrapper {
  display: flex;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 12px;

  .multiSelectLinkPanel_tab {
    display: flex;
    height: 46px;
    padding: 8px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  .multiSelectLinkPanel_tabSelected {
    border-bottom: 2px solid $settings-action-color-fallback;
    color: $settings-action-color-fallback;
  }
}

.multiSelectLinkPanel_actionsWrapper_mobile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
