@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.blockStyleSpacing {
  margin: 15px 18px;

  @include phone {
    margin: 15px calc((18px + (100% - #{$textMobileWidth}) / 2));
  }
}

.elementSpacing {
  margin: 0;

  @include phone {
    margin: 0;
  }
}


.quote {
  composes: blockStyleSpacing;
  border-inline-start-width: $ricos-quote-border-width;
  border-inline-start-style: solid;
  font-size: $quoteFontSize;
  line-height: $quoteLineHeight;
  padding-top: $ricos-quote-padding-top;
  padding-bottom: $ricos-quote-padding-bottom;
  padding-inline-start: $ricos-quote-padding-inline-start;
  font-style: normal;
  border-left-color: $ricos-quote-border-color;
  border-right-color: $ricos-quote-border-color;
  color: $ricos-quote-color;
  @include ricosTypography('quote', false);
  // this is required since the blockquote wraps paragraph
  div {
    color: $ricos-quote-color;
    @include ricosTypography('quote', false);
  }
}

.text {
  composes: elementSpacing;
  @include ricosTypography('p', false);

  &:empty {
    height: 24px;
  }
}

.link {
  color: $ricos-link-color;
  @include ricosTypography('link', false);
}
.linkInEditor {
  &:hover {
    cursor: text;
  }
}
.linkInViewer {
  &:hover {
    cursor: pointer;
  }
}
