@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.button_settingsComponent_header_ButtonLink {
  font-size: 14px;
  margin: 9px 0 7px 0;
  line-height: 1.5;
  height: 22px;
  font-weight: normal;
  @include phone {
    margin: 2px 0;
    margin-bottom: 1px;
    font-weight: normal;
  }
}

.button_settingsComponent_section_content {
  padding-right: 30px;
  padding-top: 22px;
  @include phone {
    padding-right: 0px;
    padding-top: 16px;
  }
}
