@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.action_buttons {
  display: flex;
  width: 100%;
  gap: 12px;
  &.mobile {
    justify-content: space-between;
  }
}

