@import '~wix-rich-content-common/dist/statics/styles/palette';

.settingsAddItem {
  margin: 6px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &.itemContainerSelected {
    box-shadow: 0 0 0 3px $settings-action-color-fallback;
  }
}

.filesItem {
  position: relative;
  cursor: pointer;
  border: 1px dashed $settings-action-color-fallback;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    display: none !important;
  }

  svg {
    width: 28px;
    height: 28px;
    fill: $settings-action-color-fallback;
  }

  &:hover {
    background-color: rgba($settings-action-color-fallback-tuple, 0.1);
  }
}
