.settingsPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  font-size: 20px;
  color: var(--ricos-settings-text-color, #000000);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 420px;
  box-sizing: border-box;
  background-color: white;
  z-index: 2;

  .settingsPanelHeader_closeIcon {
    fill: var(--ricos-settings-icons-color, #000000);
    cursor: pointer;
  }
}
