@import '~wix-rich-content-common/dist/statics/styles/palette';

.setting_mobile_header {
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ededed;
  width: calc(100% - 32px);
  .setting_mobile_header_title {
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
