@import '~wix-rich-content-common/dist/statics/styles/palette';

.container {
  position: relative;
  display: flex;
  &:hover {
    color: var(--ricos-settings-text-color, #000);
  }
}

.input {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: $settings-text-color;
  width: 100%;
  height: 40px;
  padding-left: 37px;
  border: 1px solid $settings-inputs-border-color;
  border-radius: $settings-inputs-border-radius;

  &::placeholder {
    color: var(--ricos-settings-inputs-placeholder-color, #969696);
  }
  &:focus,
  &:hover {
    border: 1px solid rgba(var(--ricos-settings-action-color-tuple, (0, 0, 0)), 0.5) !important;
  }
}

.prefixIcon,
.suffixIcon {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 24px;
  fill: $settings-icons-color;
  color: $settings-icons-color;
}

.prefixIcon {
  left: 7px;
}

.suffixIcon {
  right: 11px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
