@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.textInput {
  position: relative;

  &:hover svg {
    fill: black;
  }
}

.textInput_input {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: $modal-input-color;
  width: 100%;
  height: 42px;
  padding-left: 18px;
  box-sizing: border-box;
  border: 1px solid $settings-inputs-border-color;
  font-family: $ricos-settings-font-family;
  border-radius: $settings-inputs-border-radius;

  &::placeholder {
    color: $settings-inputs-placeholder-color;
    opacity: 0.6;
  }

  &.searchIcon {
    padding-left: 34px;
  }
}

.textInput_input_invalid {
  padding-right: 39px;
  border-color: red;
}

.textInput_errorIcon {
  position: absolute;
  right: 13px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 13px;
  color: #ee5951;
}

.prefixIcon {
  left: 7px;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 24px;
  fill: rgba(0, 0, 0, 0.6);
}

.focusFill {
  fill: black;
}

.unfocusFill {
  fill: rgba(0, 0, 0, 0.6);
}
