@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.blockStyleSpacing {
  margin: 15px 18px;

  @include phone {
    margin: 15px calc((18px + (100% - #{$textMobileWidth}) / 2));
  }
}

.codeBlock,
.code {
  composes: blockStyleSpacing;
  background-color: rgba($fallbackColorTuple, 0.06);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: $ricos-code-block-font-size;
  line-height: $ricos-code-block-line-height;
  padding: $ricos-code-block-padding;
  margin: $ricos-code-block-margin;
  white-space: pre-wrap;

  code {
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: $ricos-code-block-font-size;
  }

  .renderedInTable & {
    margin: 0;
  }
}
