@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/consts';

.toolbarButton_wrapper {
  display: flex;

  &.toolbarButton_wrapper_mobile:not(.toolbarButton_active) {
    &:hover {
      .toolbarButton {
        background-color: unset;
      }
    }
  }

  &.toolbarButton_wrapper_mobile {
    &.toolbarButton_wrapper_asLink {
      .toolbarButton {
        min-width: calc(100vw - 109px);
      }
    }
  }
  &:hover {
    .toolbarButton {
      background-color: rgba($fallbackColorTuple, 0.06);
    }
  }
  &.toolbarButton_active .toolbarButton {
    background-color: transparent;
  }
}

.toolbarButton_active {
  border: 1px solid rgba($fallbackColorTuple, 1);
}

.arrowIconActive {
  color: $action-color-fallback;
  fill: $action-color-fallback;
  @include svg-fill;
}

.toolbarButton {
  display: flex;
  background: transparent;
  color: #000000;
  padding: 4px;
  border: 0 none;
  line-height: normal;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
  width: max-content !important;
  align-items: center;
  font-size: 14px;
  font-family: HelveticaNeue;
  font-weight: 500;

  input {
    width: 15px;
    border: none;
    background-color: transparent;
  }

  &.toolbarButton_mobile {
    height: 40px;
    min-width: 40px;
  }
  &:focus {
    border: 1px solid black;
    outline: 5px auto Highlight !important;
    outline: 5px auto -webkit-focus-ring-color !important;
  }
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.toolbarDropdownButton_arrowIcon {
  width: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  svg {
    width: unset;
    height: unset;
  }
}
