@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

$TITLE_HEIGHT: 70px;
$FOOTER_HEIGHT: 100px;
$MOBILE_HEADER_HEIGHT: 50px;
.imageSettings {
  position: absolute;
  left: 0;
  right: 0;
  color: $settings-text-color;
  background: #fff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: left;
}

.imageSettingsTitle {
  position: absolute;
  margin: 24px 0 24px 24px;
  font-size: 20px;
}

.imageSettingsImageSection {
  padding: 0 24px;
  @include phone {
    padding: 0;
  }
}

.imageSettingsImage {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: rgba(51, 51, 51, 0.1);
}

.imageSettingsSection {
  position: relative;
  padding: 20px 0px 0 0px;
  font-size: 14px;
}

.imageSettingsLabel {
  margin-bottom: 5px;
}

.imageSettings_scrollContainer {
  margin: $TITLE_HEIGHT auto $FOOTER_HEIGHT auto;
  width: 100%;
  &.imageSettings_newUi_scrollContainer {
    margin-top: 0;
  }
}

.imageSettings_inputsWrapper {
  padding: 0 24px;
  @include phone {
    padding: 0 20px;
  }
}

.imageSettings_mobile {
  margin: 0 auto;
}

.imageSettings_footer {
  z-index: 6;
}

.imageSettings_hidden {
  visibility: hidden;
}
