@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.settingsButtonWrapper {
  background: transparent;
  padding: 4px;
  cursor: pointer;
  color: var(--ricos-settings-text-color, #000);

  &:hover {
    background-color: rgba(var(--ricos-settings-action-color-tuple, $fallbackColorTuple), 0.06);
  }

  &.active {
    background-color: rgba($action-color-fallback-tuple, 0.1);
    color: var(--ricos-settings-text-color, $action-color-fallback);
    fill: var(--ricos-settings-text-color, $action-color-fallback);
    @include svg-fill;
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
  }

  &.mobileSettingsButtonWrapper:not(.active) {
    &:hover {
      background-color: unset;
    }
  }
}

.settingsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  &.mobileSettingsButton {
    width: 32px;
    height: 32px;
  }
}
