@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.blockStyleSpacing {
  margin: 15px 18px;

  @include phone {
    margin: 15px calc((18px + (100% - #{$textMobileWidth}) / 2));
  }
}

.code {
  composes: blockStyleSpacing;
  background-color: rgba($primary-text-color-tuple, 0.06);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  line-height: 26px;
  padding: 2px 25px;
  white-space: pre-wrap;

  .renderedInTable & {
    margin: 0;
  }
}

.quote {
  composes: blockStyleSpacing;
  border-inline-start-width: 3px;
  border-inline-start-style: solid;
  font-size: $quoteFontSize;
  line-height: $quoteLineHeight;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 18px;
  font-style: normal;
  border-left-color: $ricos-quote-border-color;
  border-right-color: $ricos-quote-border-color;
  color: $ricos-quote-color;
  @include ricosTypography('quote', false);
}
