@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/fonts';
@import '~wix-rich-content-common/dist/statics/styles/mixins';

.toolbar {
    box-sizing: border-box;
    box-shadow: $settings-whitebox-box-shadow;
    border: solid 1px rgba(51, 51, 51, 0.1);
    font-family: $ricos-settings-font-family;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.staticToolbar {
    height: 47px;
    box-shadow: none;
    padding: 8px 19px;
    position: static;
    min-width: fit-content;
    border-top: none;
    border-left: none;
    border-right: none;
}

.visibleItems, .overflowedItems {
    display: flex;
    grid-column-gap: 4px;
}

.moreItems {
    @extend .toolbar;
    @extend .staticToolbar;
    border: solid 1px rgba(51, 51, 51, 0.1);
    position: absolute;
    z-index: 10;
    top: 45px;
    right: 0;
}