@import '~wix-rich-content-common/dist/statics/styles/palette';

$TITLE_HEIGHT: 0;
$FOOTER_HEIGHT: 100px;

.collapsibleListModal {
  position: absolute;
  left: 0;
  right: 0;
  color: $settings-text-color;
  background: #fff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.collapsibleListModal_scrollContainer {
  height: calc(100% - #{$FOOTER_HEIGHT});
  margin: $TITLE_HEIGHT auto $FOOTER_HEIGHT auto;
  width: 100%;
}

.collapsibleListModal_mobile {
  margin: 0 auto;
}
