.titleContainer {
  min-height: 48px;
  display: flex;
  align-items: center;
  cursor: auto;
  .title {
    flex: 1;
  }
}

.content {
  cursor: auto;
  position: relative;
  min-height: 48px;
  margin-inline-start: 48px;
  padding: 9px 0;
  &:hidden {
    display: none;
  }
}

.expandIcon {
  display: flex;
  align-self: start;
  padding-top: 12px;
}

.dndIcon {
  padding-top: 12px;
  left: -23px;
  position: absolute;
}

.itemContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}
