@import '~wix-rich-content-common/dist/statics/styles/mixins';

.settingsContainer {
  padding: 24px;
  &.settingsContainer_newUi {
    padding: 20px;
  }
  @include phone {
    padding: 20px;
  }
}

.separator {
  margin: 20px 0 !important;
}

.direction_selector {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  margin: 25px 0;

  &.direction_selector_newUi {
    margin-top: 20px;
  }
  @include phone {
    grid-template-columns: repeat(3, 1fr);
  }
}

.direction_selector_option {
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  svg {
    padding-top: 10px;
  }

  svg,
  p {
    color: $settings-action-color;
    fill: $settings-icons-color;
  }
}
