@import '~wix-rich-content-common/dist/statics/styles/mixins';

.title {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.settingsContainer {
  padding: 24px 24px 20px;
}

.separator {
  margin: 20px 0 !important;
}

.direction_selector {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  margin: 25px 0;

  @include phone {
    grid-template-columns: repeat(3, 1fr);
  }
}

.selectionListItem_icon {
  padding: 24px;
  svg {
    fill: $settings-icons-color;
  }
  &:hover {
    background-color: rgba(var(--ricos-settings-action-color-tuple, $fallbackColorTuple), 0.06);
  }

  &.selectionListItem_icon_selected {
    background-color: rgba($settings-action-color-fallback-tuple, 0.1);
    svg {
      color: $settings-action-color;
    }
  }
}
