@import '~wix-rich-content-common/dist/statics/styles/palette';

.actionButtons_wrapper {
  width: 212px;
  &.actionButtons_wrapper_mobile {
    width: 100%;
  }
}

.LinkButtons_wrapper {
  display: flex;
  justify-content: space-between;
  height: 32px;
  margin-top: 12px;
  &.multiSelectLinkPanel_wrapper {
    margin: 20px 0;
  }
  &.LinkButtons_wrapper_mobile {
    margin: 0;
    padding-top: 12px;
    width: 100%;
  }
}

.LinkButtons_saveButton {
  width: 94px;
}

.LinkButtons_mobile_header{
  width: 100%;
  position: relative;
  padding: 0 16px;
}

.LinkButtons_mobile_title {
  margin: 0;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
