@import '~wix-rich-content-common/dist/statics/styles/mixins';

.gallerySettings_spacer {
  height: 12px;
  display: block;
}

.gallerySettings_tab_section {
  padding: 24px 30px 30px;
  @include phone {
    padding: 18px;
  }
}
