@import '~wix-rich-content-common/dist/statics/styles/mixins';

$TITLE_HEIGHT: 0px;
$FOOTER_HEIGHT: 100px;

.gallerySettings_settingsContainer {
  padding: 0;
}

.gallerySettings_settingsContainerMobile {
  padding: 18px;
}

.gallerySettings_title {
  font-size: 20px;
  width: 100%;
  color: $settings-text-color;
  line-height: 30px;
  padding: 24px 0 0 24px;
  margin: 0;
  position: relative;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

.gallerySettings_tabsContainer {
  margin-top: 24px;
  @include phone {
    margin-top: 0;
  }
}

.gallerySettings_spacer {
  height: 12px;
  display: block;
  &.gallerySettings_newUi_spacer {
    height: 28px;
  }
}

.gallerySettings_label {
  font-size: 14px;
}

.gallerySettings {
  height: calc(100% - #{$TITLE_HEIGHT} - #{$FOOTER_HEIGHT});
  margin: $TITLE_HEIGHT auto $FOOTER_HEIGHT auto;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.gallerySettings_tab_section {
  padding: 24px 30px 30px;
}

.gallerySettings_tab_section_newUi {
  padding: 24px;
  @include phone {
    padding: 20px;
  }
}
