@import '~wix-rich-content-common/dist/statics/styles/palette';

.imageRatioSelector_label {
  display: block;
  margin-bottom: 13px;
}

.imageRatioSelector_readOnly {
  opacity: 0.5;
  pointer-events: none;
}

@supports (display: grid) {
  .imageRatioSelector_grid {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 72px;
    row-gap: 12px;
    column-gap: 4px;
  }
}

@supports not (display: grid) {
  .imageRatioSelector_option {
    display: inline-block;
    width: 56px;
    height: 56px;
  }
}

.imageRatioSelector_tile {
  margin: 0px;
}

.imageRatioSelector_ratioButton {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 16px;
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--ricos-settings-action-color-tuple, $fallbackColorTuple), 0.06);
  }
  &.imageRatioSelector_ratioButton_selected {
    background-color: rgba($settings-action-color-fallback-tuple, 0.1);
  }
}

.imageRatioSelector_ratioLabel {
  margin-top: 7px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.imageRatioSelector_ratioIcon {
  border: 1px solid #111;
  margin: auto;
}

.imageRatioSelector_ratioIcon_selected {
  border: 1px solid $settings-action-color;
}

.imageRatioSelector_16_9 {
  width: 22px;
  height: 12px;
}

.imageRatioSelector_4_3 {
  width: 20px;
  height: 14px;
}

.imageRatioSelector_1_1 {
  width: 20px;
  height: 20px;
}

.imageRatioSelector_3_4 {
  width: 14px;
  height: 20px;
}

.imageRatioSelector_9_16 {
  width: 12px;
  height: 22px;
}
