@import '~wix-rich-content-common/dist/statics/styles/palette';

.layoutsSelector_label {
  display: block;
  margin-bottom: 16px;
}

@supports (display: grid) {
  .layoutsSelector_grid {
    grid-template-columns: auto auto auto auto;
    row-gap: 12px;
    column-gap: 4px;
  }
}
