@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.linkModalButtonWrapper {
    font-family: $ricos-settings-font-family;
    font-size: 14px;
    background: transparent;
    padding: 4px;
    cursor: pointer;
    color: var(--ricos-settings-text-color,#000);
    
    &:hover {
        background-color: rgba(var(--ricos-settings-action-color-tuple, $fallbackColorTuple), 0.06);
    }

    &.active {
        background-color: rgba($action-color-fallback-tuple, 0.1);
        color: var(--ricos-settings-text-color, $action-color-fallback);
        fill: var(--ricos-settings-text-color, $action-color-fallback);
        @include svg-fill;
    }
}

.linkModalButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    gap: 8px;
}

.modal {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px rgba(51, 51, 51, 0.1);
    border-radius: 2px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    // position: absolute;
    // top: 36px;
    z-index: 10;
    width: max-content;
    min-width: 42px;
    @include border-box;
    @include phone {
        &:not(.colorPickerMobile) {
        height: 100vh;
        max-height: 100vh;
        }
    }
}