@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';

.desktopPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0;
  width: 143px;

  * {
    border: none;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;

    &:hover {
      @extend %hover;
    }

    &:active {
      @extend %active;
    }
  }
  .showCustomPanel_button {
    height: 36px;
    width: 100%;
    background-color: transparent;
    &:hover {
      @extend %hover;
    }
  }
}

.panel_row {
  line-height: 36px;
  width: calc(100% - 20px);
  &.panel_selectedRow {
    @extend %active;
    color: $settings-action-color-fallback;
  }
  @include phone {
    height: 39px;
  }
}

%active {
  background-color: rgba($action-color-fallback-tuple, 0.1);
}

%hover {
  cursor: pointer;
  background-color: rgba($fallbackColorTuple, 0.05);
}

.desktopPanel_withIcons {
  width: 40px;
  * {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.desktopPanel_withCustomPanel {
  * {
    &:last-of-type {
      text-align: center;
      padding: 0;
      margin-top: 8px;
    }
  }
}

%mobilePanel_AlignContent {
  padding-left: 20px;
  padding-right: 20px;
}

.mobilePanel {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  .mobilePanel_header {
    @extend %mobilePanel_AlignContent;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    .closeIcon {
      height: 20px;
    }
  }

  * {
    font-size: 16px;
    background-color: transparent;
    border: none;
  }
}

.mobilePanel_rows {
  display: flex;
  flex-direction: column;
  * {
    flex: 1;
    text-align: left;
    width: 100%;
  }
}

.mobilePanel_buttons {
  display: flex;
  justify-content: space-between;

  * {
    padding: 0;
  }

  :nth-child(2) {
    color: $settings-action-color-fallback;
  }
}

.panel_Container {
  border: solid 1px #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  svg {
    height: unset;
    width: unset;
  }
}

.mobile_Container {
  border: solid 1px #ededed;
  border-radius: unset;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.modal {
  position: fixed;
  right: initial;
  bottom: initial;
  padding: 0;
  background: #fff;
}

.modal_mobile {
  border-radius: unset;
  box-shadow: unset;
}

.separator {
  height: 1px;
  background-color: rgba(51, 51, 51, 0.2);
  width: calc(100% - 24px);
  margin: 0 auto;
  @include phone {
    width: 100%;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 40;
}

.mobile_contentWrapper_withIcon {
  @extend %mobilePanel_AlignContent;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  height: 100%;
  :nth-child(1) {
    max-width: 20px;
    display: inherit;
    align-items: center;
    > {
      width: 20px;
    }
  }
}

.mobile_contentWrapper {
  * {
    @extend %mobilePanel_AlignContent;
    display: flex;
    align-items: center;
  }
}
