@import '~wix-rich-content-common/dist/statics/styles/palette';

.floatingAddPluginMenu_wrapper {
  position: relative;
  width: 100%;
}

.floatingAddPluginMenu_plus_button {
  @extend %button;
  position: absolute;
  padding: 0;
  left: -40px;
  z-index: 3;

  svg {
    color: $settings-action-color-fallback;
    fill: $settings-action-color-fallback;
  }
}

.floatingAddPluginMenu_addPlugin_button {
  @extend %button;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating_add_plugin_menu_hor {
  width: 100%;
  min-width: 500px;
}

%button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
