.customSpacingPanel {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  width: 230px;
  border-radius: inherit;

  > * {
    margin: 16px 20px;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin: 16px 12px 0 12px;
    }
  }
}

.customSpacingPanel_mobile {
  border-radius: unset;
  width: unset;
}

.customSpacingPanel_labeledInput {
  height: 36px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;

  * {
    font-size: 14px;
  }

  input {
    border: solid 1px rgba(51, 51, 51, 0.2);
    padding-left: 12px;

    &:focus {
      border: solid 1px rgba(51, 51, 51, 0.5);
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.separator {
  height: 1px;
  background-color: var(--ricos-settings-dividers-color, rgba(51, 51, 51, 0.2));
  width: calc(100% - 24px);
  margin: 0 auto;
}
