.overlay {
  position: fixed;
  inset: 0px 0px auto auto;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: calc(100% + 85px);
  z-index: 666666;

  .content {
    position: fixed;
    border: none;
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    color: var(--ricos-settings-text-color, #000);
    width: 100%;
    z-index: 20001;
  }

  .drawerT,
  .drawerB {
    left: 0px;
    right: 0px;
    height: max-content;
  }

  .drawerT {
    top: 0px;
  }

  .drawerB {
    bottom: 0px;
  }

  .drawerR,
  .drawerL {
    height: 100%;
    max-width: 420px;
  }

  .drawerR {
    inset: 0px 0px auto auto;
    direction: ltr;
  }

  .drawerL {
    inset: 0px auto 0px auto;
    direction: rtl;
  }

  .dialog {
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: max-content;
    width: fit-content;
    inset: calc(50%) 0px auto;
  }
}
