name: bundleTests
on: [pull_request]

jobs:
  analyze-bundles:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: npx midgard-yarn install --frozen-lockfile

      - name: build packages
        env:
          LAGE_NPM_TOKEN: '${{ secrets.LAGE_NPM_TOKEN }}'
        run: npm run build:ci

      - run: npm run analyzeBundles:nobuild --silent

    env:
      REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}