name: deploy example
on:
  push:
    tags:
      - v9.*
      - v8.*
      - v7.*
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  BACKFILL_CACHE_PROVIDER: 'azure-blob'
  BACKFILL_CACHE_PROVIDER_OPTIONS: ${{ secrets.BACKFILL_CACHE_PROVIDER_OPTIONS }}

jobs:
  surge-examples:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: cache-node_modules
        id: cache-modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.cache
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
      - name: npm install + bootstrap
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: npx midgard-yarn install --frozen-lockfile
      - name: lerna link
        if: steps.cache-modules.outputs.cache-hit == 'true'
        run: npm run link

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: npm run build:ci

      - run: npm run deploy
      - run: npm run deployPRComment
    env:
      SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
      SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
      REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}